Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
# String Datatype
str = "Aditya"

In [6]:
 #list
Lst = [1,2,3,"Aditya"]

In [7]:
 #float
a= 1.35

In [8]:
 #tuple
tup =(1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

 1. var1 = '' String 
 2. Var2  is string
 3. var3 is list 
 4. var4  is integer

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [15]:
# / - Division operator
# It divieds the given numerator with denominator
x = 12
y = 3

print(x / y)

4.0

In [16]:
#  % - Modulus operator
# It returns the remainder of dividing the left hand operand by right hand operand.
x = 5
y = 2

print(x % y)

1

In [17]:
# // - Floor division
# the floor division // rounds the result down to the nearest whole number
x = 15
y = 2

print(x // y)

7

In [18]:
# ** - Exponentiation operator
x = 2
y = 5

print(x ** y)

32

Q4 . Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
a=[1,2,3,4,5,1.33, [1,2,3],'Aditya' ,9,10]

In [23]:
for x in a :
    print (x)
    print(type(x))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
1.33
<class 'float'>
[1, 2, 3]
<class 'list'>
Aditya
<class 'str'>
9
<class 'int'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
A=70
B=14
t=0
while A>=0:
    prev_A=A
    A=A-B
    t+=1
t-=1
if prev_A==0:
    print("Divisible by",t,"times")
else:
    print("Not divisible")

Divisible by 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [30]:
L =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in L:
    print (x)
    if x % 3 ==0 :
        print( "It is divisible by 3")
    else :
        print("It is not divisiable by 3")

1
It is not divisiable by 3
2
It is not divisiable by 3
3
It is divisible by 3
4
It is not divisiable by 3
5
It is not divisiable by 3
6
It is divisible by 3
7
It is not divisiable by 3
8
It is not divisiable by 3
9
It is divisible by 3
10
It is not divisiable by 3
11
It is not divisiable by 3
12
It is divisible by 3
13
It is not divisiable by 3
14
It is not divisiable by 3
15
It is divisible by 3
16
It is not divisiable by 3
17
It is not divisiable by 3
18
It is divisible by 3
19
It is not divisiable by 3
20
It is not divisiable by 3
21
It is divisible by 3
22
It is not divisiable by 3
23
It is not divisiable by 3
24
It is divisible by 3
25
It is not divisiable by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A mutable object can be changed after it is created

Examples : List, Set, Dictionary

An immutable object cannot be changed after it is created

Exg: tuples, int, float, bool,string